.genero {
    width: 40%; /* Aumentando a largura para melhorar a aparência */
}

.Usuário, .Endereço, .Mensagem {
    margin: 2rem 5%;
    border: 2px solid #ddd; /* Bordas uniformes */
}

legend {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif; /* Usando uma fonte mais moderna */
    color: rgb(8, 8, 8);
}



